{{!-- 
 * - Developer: Ryan Hatch
 * - Date of development: 2024/24/02
Date of last modification: 2024/24/10
Version: 3.0
--}}

<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Foods - Travlr Getaways Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Meals</h1>
							<ul id="foods">
								{{#each mealposts}}
								<li>
									<h2><a href="/{{this.link}}">{{mealType}}</a></h2>
									<div class="infos">
										<a href="/{{this.link}}"><img src="images/{{image}}" alt="Img" height="169" width="780"><span class="cover"></span></a>
										<p>
											<span>{{mealName}}</span> {{description}}
										</p>
									</div>
								</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer}}
	</div>
</body>
</html>

{{!-- <!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Foods - Travlr Getaways Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Meals</h1>
							<ul id="foods">
								<li>
									<h2><a href="/meals">SeaFood Special</a></h2>
									<div class="infos">
										<a href="/meals"><img src="images/seafoods.jpg" alt="Img" height="169" width="780"><span class="cover"></span></a>
										<p>
											<span>Fried Salmon Special</span> I'm a product overview. Here you can write more information about your product. Buyers like to know ...
										</p>
									</div>
								</li>
								<li>
									<h2><a href="/meals">Sumptuous Desserts</a></h2>
									<div class="infos">
										<a href="/meals"><img src="images/desserts.jpg" alt="Img" height="169" width="780"><span class="cover"></span></a>
										<p>
											<span>Choco Ice Cream Sandwich</span> I'm a product overview. Here you can write more information about your product. Buyers like to know ...
										</p>
									</div>
								</li>
								<li>
									<h2><a href="/meals">Buffet</a></h2>
									<div class="infos">
										<a href="/meals"><img src="images/buffet.jpg" alt="Img" height="169" width="780"><span class="cover"></span></a>
										<p>
											<span>Mixed Buffet</span> I'm a product overview. Here you can write more information about your product. Buyers like to know ...
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer}}
	</div>
</body>
</html> --}}